name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate Snake SVG
        uses: Platane/snk@v3
        with:
          github_user_name: titan7k-zc
          outputs: |
            output/snake.svg

      - name: Push changes
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: "Generated Snake animation"
          add: "output/snake.svg"
